body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: linear-gradient(to bottom right, #441253, #441253 55% , white 56%); 
}
.buttons a{
  width:140px;
  height:100px;
  border-radius: 30px;
  color: white;
  font-size:20px;
  padding: 20px;
  margin:50px;
  text-decoration: none;
  background-color:#441253;
  }
  .buttons{
  	position:absolute;
  bottom: 50px;
	margin-left:480px;
  }
  .prof a{
  color:#441253;
  background-color:white;
  width:120px;
  padding:20px 7px; 
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  float:right;
  margin:20px;
  }
  img{
  	margin-left:250px;
	margin-top:100px;
  }
  h1{
  	  display:inline;
	  margin:20px;
	  font-size:50px;
	  color:white;
  }
  h4{
	margin-left:250px;
	font-size:30px;
	color:white;
  }